<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <h2>My Skills</h2>
      <p>Full Stack Development, always learning new skills</p>
      <div class="row">
        <div class="col-md-6">
          <div class="skill-card">
            <div class="skill-description">
              <p><i class="devicon-html5-plain colored"></i> HTML</p>
              <p><i class="devicon-css3-plain colored"></i> CSS</p>
              <p><i class="devicon-javascript-plain colored"></i> JavaScript</p>
              <p><i class="devicon-bootstrap-plain colored"></i> Bootstrap</p>
              <p><i class="devicon-sass-original colored"></i> Sass</p>
              <p><i class="devicon-figma-plain colored"></i> Figma</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="skill-card">
            <div class="skill-description">
              <p><i class="devicon-ruby-plain colored"></i> Ruby</p>
              <p><i class="devicon-rails-plain colored"></i> Ruby on Rails</p>
              <p><i class="devicon-postgresql-plain colored"></i> PostgreSQL</p>
              <p><i class="devicon-heroku-plain colored"></i> Heroku</p>
              <p><i class="devicon-git-plain colored"></i> Git</p>
              <p><i class="devicon-github-original colored"></i> Github</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
