<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>As a recent graduate, I am currently producing some exciting projects to showcase my abilities. I will be posting them very soon.</p>
      </div>
    </div>
  </div>
</div>
