<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'images/arthur_portrait_avatar.jpg', alt: "profile photo", class: 'avatar' %>
    <div class="hero">
      <h1 class="title-main">Hi, I'm Arthur</h1>
        <p>Successfully managed a portfolio of insurance claims through to resolution. I have a proven ability to resolve disputes, search for reliable information, and communicate clearly.
    By living in different countries and working with multiple cultures, I have developed a strong cultural intelligence, allowing collaboration with diverse teams and adapting to different working environments.
    Currently seeking a role where I can apply my IT skills and knowledge to develop innovative solutions.</p>
        <ul class="social">
          <li>
            <a href="https://github.com/Arthur-Andrade194/" targer="_blank">
            <i class ="fab fa-github-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/arthur-andrade-west-a43483ba/" target="_blank">
            <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a a href="arthurandrade194@gmail.com" Send Email>
            <i class="fa-solid fa-envelope"></i></a>
          </li>

          <li><a href="../assets/Arthur A W.pdf" target="_blank" class="btn btn-primary">Resume</a></li>
        </ul>
    </div>
  </div>
</div>
